---
import Image from "./Image.astro";
const { slides } = Astro.props;
---

<section class="splide" aria-labelledby="slider-heading">
    <h3 id="slider-heading" class="mb-12 text-center font-semibold text-xl text-brand-600 uppercase tracking-[0.15em]">Selected Properties</h3>
    <div class="relative">
        <div class="splide__arrows"></div>
        <div class="splide__track">
            <ul class="splide__list">
                {slides.map(slide =>
                    <li class="splide__slide">
                        <div class="text-sm md:text-base absolute z-10 top-4 right-4 py-1 px-2 rounded-md bg-brand-400 text-white leading-none">{slide.frontmatter.property}</div>
                        <Image src={`./public/${slide.frontmatter.propertyImage}`} alt={slide.frontmatter.propertyImageAlt} class="rounded-lg w-full object-cover aspect-[9/6]" />
                    </li>
                )}
            </ul>
        </div>
    </div>
</section>